header{
  position: relative;
  top: -6px;
}
.logo-header{
  width: 15%;
  max-width: 100px;
  //display: block;
  //margin: -12vh auto 0 auto;
}

@media only screen and (max-width: 992px) {
nav {
  .brand-logo {
    left: 5% !important;
  }
}
}
