<div class="row">
  <h1 typingAnimation [typeSpeed]="150" [condition]="start" [startDelay]="500" [hideCursorOnComplete]="true" (complete)="onTypingAnimationComplete()" class="center">
      About
    </h1>
  <div class="row">
    <div class="col l6 m12 s12">
      <img src="assets/img/sarah.jpg" class="circle" id="sarah-img">
    </div>
    <div class="col l6 m12 s12">
      <h3>
          Hey there, I'm Sarah
      </h3>
      <p>I'm a web designer living in Omaha, Nebraska (but I'm actually from Hell, Michigan- <a href="https://www.gotohellmi.com/" target="_blank">yes, really</a>). I love knitting, embroidery, my three cats, and podcasts. It turns out I also really love Nebraska, though I haven't been to a Huskers game yet, and my fiancée and I have decided to set down roots here.</p>
      <p>I also love building clean, user-friendly websites. It started as a hobby in 2002, turned into Bachelor of Science in Web Development and Design in 2016, and has been my career ever since. This portfolio has some examples of my web and print design work over the past few years. If you like what you see here, reach out to me <a href="mailto:sarah.broat@gmail.com">via email</a> or on <a href="https://www.linkedin.com/in/sbroat/" target="_blank">LinkedIn</a>.</p>
      <p><span class="emphasis">PS:</span> This portfolio was built using <a href="https://angular.io/" target="_blank">Angular 6</a>, <a href="https://material.angular.io/" target="_blank">Angular Material</a>, <a href="https://materializecss.com/" target="_blank">Materialize CSS</a>, <a href="https://www.gimp.org/" target="_blank">GIMP</a>, and a variety of fun plugins that had features I wanted to play around with.</p>
    </div>
  </div>
</div>
